# Python
__pycache__/
*.pyc

# Ruff
.ruff_cache/
.ruff_cache/**
.ruff_cache
.ruff_cache/**

.pytest_cache/
.pytest_cache/**
.pytest_cache
.pytest_cache/**

.coverage
.coverage/**
.coverage

# Environment
.venv/
.env
.env.db

# IDE
.idea/
