services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./backend:/backend_app
    env_file: 
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
        restart: true
      es:
        condition: service_healthy
        restart: true
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5433:5432"
    env_file:
      - ./.env.db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      
  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.3
    volumes:
      - es_data:/usr/share/elasticsearch/data
    ports:
      - "127.0.0.1:9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    healthcheck:
      # This command is more robust. It uses curl's retry flags to patiently wait
      # for Elasticsearch to become available, gracefully handling 'Connection Refused'.
      test: >
        curl -s -k --retry 5 --retry-delay 5 --retry-connrefused
        http://es:9200/_cluster/health
      interval: 15s
      timeout: 10s
      retries: 10
    networks:
      - app-network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.3
    ports:
      - "127.0.0.1:5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://es:9200
      - ELASTICSEARCH_SSL_VERIFICATIONMODE=none
    depends_on:
      es:
        condition: service_healthy
      networks:
        - app-network
  
    nginx:
      image: nginx:latest
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf
        - ./nginx/ssl:/etc/nginx/ssl
      depends_on:
        - backend
        - db
        - es
        - kibana
      networks:
        - app-network
  

  networks:
    app-network:
      driver: bridge

volumes:
  postgres_data:
  es_data:
