services:
  mech-book-front:
    build:
      context: ./mech-book-front
      dockerfile: Dockerfile
    expose:
      - "3000"
    environment:
      - HOST=0.0.0.0
      - NODE_ENV=production
    restart: unless-stopped
    container_name: mech-book-front
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ./backend:/backend_app
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
        restart: true
      es:
        condition: service_healthy
        restart: true
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    networks:
      - app-network


  db:
    image: postgres:15-alpine
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5433:5432"
    env_file:
      - ./.env.db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network
  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.3
    container_name: elasticsearch
    volumes:
      - es_data:/usr/share/elasticsearch/data
    ports:
      - "127.0.0.1:9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    healthcheck:
      test: >
        curl -s -k --retry 5 --retry-delay 5 --retry-connrefused
        http://localhost:9200/_cluster/health
      interval: 15s
      timeout: 10s
      retries: 10
    networks:
      - app-network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.3
    container_name: kibana
    ports:
      - "127.0.0.1:5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://es:9200
      - ELASTICSEARCH_SSL_VERIFICATIONMODE=none
    depends_on:
      es:
        condition: service_healthy
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
      - /var/log/nginx:/var/log/nginx
    depends_on:
      - backend
    networks:
      - app-network

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt:rw
      - ./certbot/www:/var/www/certbot:rw
    env_file:
      - ./.env
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew --nginx; sleep 12h & wait $!; done;'" #

    # entrypoint: ["certbot", "certonly", "--webroot", "--webroot-path=/var/www/certbot", "--email", "${EMAIL}", "--agree-tos", "--no-eff-email", "-d", "${DOMAIN}", "-d", "www.${DOMAIN}", "-d", "api.${DOMAIN}"]

    depends_on:
      - nginx
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  es_data: