name: CI/CD Pipeline

on:
  push:
    branches: [ "master" ]
    paths:
      - "backend/**"
  pull_request:
    branches: [ "master" ]
    paths:
      - "backend/**"


jobs:
  # CI jobs
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"
          cache-dependency-path: backend/requirements.txt

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt

      - name: Run ruff tests
        run: ruff check backend --output-format=github

      - name: Run pytest
        run: pytest --maxfail=1 --disable-warnings -q
      
      - name: Build Docker image
        run: docker build -t mechbook-backend ./backend

  # CD jobs
  cd:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - name: Start ssh-agent and add private key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: |
            ${{ secrets.SERVER_ACCESS }}

      - name: Add server to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -p ${{ secrets.SERVER_PORT }} -H ${{ secrets.SERVER_IP_ADDRESS }} >> ~/.ssh/known_hosts

      - name: Deploy via SSH and restart services
        env:
          SSH_HOST: ${{ secrets.SERVER_IP_ADDRESS }}
          SSH_USER: ${{ secrets.SERVER_USER_NAME }}
          SSH_PORT: ${{ secrets.SERVER_PORT }}
          DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}
        run: | 
          ssh -p "$SSH_PORT" "$SSH_USER@$SSH_HOST" << EOF
          cd "${DEPLOY_PATH}" && (
            docker compose down;
            git fetch --all;
            git reset --hard origin/master;
            docker compose up -d --build;
            echo "Deployment ended successfully."
          )
          EOF
